<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-end mb-2">
  <%= link_to t("views.button.back"), proponents_path, class: "btn btn-dark btn-sm" %>
</div>

<%= render @proponent %>
